@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes shake {
      0%, 100% { transform: translateX(0); }
      25% { transform: translateX(-5px); }
      75% { transform: translateX(5px); }
    }
  
    .animate-shake {
      animation: shake 0.5s ease-in-out infinite;
    }

    .text-gradient {
        background: linear-gradient(90deg, rgba(40,56,175,1) 20%, rgba(51,10,98,1) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    @keyframes flip360 {
        0% {
          transform: rotateY(0deg);
        }
        100% {
          transform: rotateY(360deg);
        }
      }
    
      .hover-flip-360 {
        transition: transform 5s ease-in-out;
        animation: flip360 5s linear infinite;
      }
    
      .hover-flip-360:hover {
        animation-play-state: running;
      }

      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      
      .rotate-slow {
        animation: rotate 10s linear infinite;
      }
  }